@media (min-width: 768px) {
	.container {
		max-width: 984px;
	}
}

@media (min-width: 1024px) {
  .container {
    max-width: 990px;
  }
  .community {
    &__item {
      grid-template-columns: repeat(6, 150px);
      gap: 0;
    }
    &__link {
      &::before {
        width: 110px;
      }
    }
  }
  .success {
    &__wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__picture {
      margin-top: 30px;
      gap: 30px;
    }
  }
  .news {
    &__row {
      grid-template-columns: repeat(6, 150px);
      gap: 0;
    }
    &__link {
      &::before {
        width: 110px;
       }
      }
    }
  .see {
    &__content {
      justify-content: center;
      padding: 0;
    }
    &__title {
      text-align: center;
    }
    &__subtitle {
      padding: 0 15px;
    }
  }  
  .information {
    &__wrap {
      justify-content: center;
      flex-wrap: wrap;
    }
    &__aside {
      margin-top: 50px;
    }
  }
  .recidiviz {
    &__grid {
      grid-template-columns: repeat(3, 254px);
    }
    &__inner {
      &::before {
        width: 251px;
      }
    }
  }
  .work{
    &__img{
      padding: 0;
    }
  } 
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}


